<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Awareness Watching Awareness Audio Recordings</title>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.5/angular.min.js" integrity="sha256-QRJz3b0/ZZC4ilKmBRRjY0MgnVhQ+RR1tpWLYaRRjSo=" crossorigin="anonymous"></script>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="index.css">
    <style>
    </style>
  </head>

  <body class="text-center" ng-app="awa">
    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column" ng-controller="awaCtrl as awa">
      <header class="masthead mb-auto">
      </header>

      <main role="main" class="inner cover">
        <div class="mb-5">
          <h3>The Most Rapid and Direct Means to Eternal Bliss</h3>
          <h2 class="darker" ng-click="awa.openChapter7()">
            Chapter 7
          </h2>
          <h4 ng-click="awa.openChapter7()">
            The Awareness Watching Awareness Method Practice Instructions
          </h4>
          <h3 class="darker" ng-click="awa.openChapter7()">
            Preliminary Instructions
          </h3>
        </div>
        <form class="form">
          <select class="custom-select mb-2"
              ng-options="clip.src as clip.title for clip in awa.clips"
              ng-init="awa.clip = awa.clips[0].src"
              ng-model="awa.clip">
          </select>
          <!-- $ ffmpeg -i foo.m4a -acodec libmp3lame -aq 2 bar.mp3 -->
          <audio class="mb-5" controls ng-attr-src="{{ awa.clip }}"></audio>
          <div>
            <h1 class="display-4" ng-cloak ng-click="awa.cancel()">
              {{ awa.elapsedTime }}
              <span style="font-size: 22px; ">elapsed</span>
            </h1>
          </div>
        </form>
      </main>

      <footer class="mastfoot mt-auto">
      </footer>
    </div>
  </body>

  <script>
    const DEFAULT_PERIOD_MILLIS = 30 * 60 * 1000

    angular
      .module('awa', [])
      .controller('awaCtrl', function($interval, $log, $scope, $timeout, $window) {
        var awa = this

        awa.openChapter7 = function() {
          $window.open('https://albigen.com/uarelove/most_rapid/chapter07.htm', '_blank')
        }

        awa.clips = new Array(25).fill().map(function(_, i) {
          var n = String.fromCharCode(i + 97)
          return {
            src:   'audio/description-' + n + '.mp3',
            title: 'Description ' + n.toUpperCase(),
          }
        })

        awa.reset = function() {
          awa.startTime = null
          awa.elapsedSeconds = 0
          awa.elapsedTime = '0s'
        }
        awa.reset()

        awa.tick = function() {
          if (!awa.startTime) {
            awa.startTime = + new Date()
          }
          awa.elapsedSeconds = Math.floor((new Date() - awa.startTime) / 1000)
        }

        awa.updateTimer = function() {
          awa.tick()
          var timeparts = []

          var hours = Math.floor(awa.elapsedSeconds / 60 / 60)
          if (hours > 0) {
            timeparts.push(hours + 'h')
          }

          var minutes = Math.floor((awa.elapsedSeconds % (60 * 60)) / 60)
          if (minutes > 0) {
            timeparts.push(minutes + 'm')
          }

          var seconds = Math.floor(awa.elapsedSeconds % 60)
          timeparts.push(seconds + 's')

          // $log.debug('ELAPSED', awa.elapsedSeconds, timeparts)
          awa.elapsedTime = timeparts.join(' ')
        }

        var timerInterval
        var replayTimeout

        awa.cancel = function() {
          $interval.cancel(timerInterval)
          $timeout.cancel(replayTimeout)
          timerInterval = null
          replayTimeout = null
        }

        $scope.$watch(function() { return awa.clip }, function() {
          awa.cancel()
          awa.reset()
        })

        $timeout(function() {
          var $audio = $('audio')
          $audio
            .on('play', function() {
              if (!timerInterval) {
                timerInterval = $interval(awa.updateTimer, 50)
              }
            })
            .on('ended', function() {
              replayTimeout = $timeout(function() {
                $audio[0].play()
              }, $window.period || DEFAULT_PERIOD_MILLIS)
            })
        }, 100)

        $log.info('AWA')
      })
  </script>
</html>
