<!doctype html>
<html>
  <head>
    <title>FB</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.2/angular.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <style>
      body { margin: 2em; }
      div { margin-bottom: 1em; }
      .section { margin-left: 1em; }
    </style>
  </head>
  <body ng-app="fap">
    <script>
      angular
        .module('fap', [])
        .factory('fbService', function($q, $rootScope, $window) {
          $rootScope.fb = {
            user: null,
            login: null,
          };

          var fbLoaded = $q.defer();

          function p(name, fn, after) {
            return () => fbLoaded.promise
              .then(function() {
                console.log(`OK: entered ${name}`);
                var deferred = $q.defer();
                try {
                  fn(function(result) {
                    if (result && !result.error) {
                      console.log(`OK: resolved ${name}`, result);
                      return deferred.resolve(result);
                    }
                    console.log(`ERR: rejected ${name}`, result);
                    return deferred.reject(result);
                  });
                } catch (err) {
                  deferred.reject(err);
                }
                console.log(`OK: promised ${name}`);
                return after ? deferred.promise.then(after) : deferred.promise;
              });
          }

          var fbService = {
            ready:   fbLoaded.promise,
            resolve: fbLoaded.resolve,

            me:             p('me',             r => FB.api('/me?fields=name,email', r), result => $rootScope.fb.user = me),
            login:          p('login',          r => FB.login(r),          result => fbService.getLoginStatus().then(result)),
            logout:         p('logout',         r => FB.logout(r),         result => fbService.getLoginStatus().then(result)),
            getLoginStatus: p('getLoginStatus', r => FB.getLoginStatus(r), function(result) {
              $rootScope.fb.login = result;
              if (result.status === 'connected') {
                return fbService.me().then(result);
              }
              return result;
            }),
          };
          return fbService;
        })
        .run(function($window, fbService) {
          // Setup the init function.
          console.log('OK: setting FB initializer');
          $window.fbAsyncInit = function() {
            console.log('OK: calling FB initializer');
            FB.init({
              appId: '495626720915083',
              cookie: true,
              xfbml: true,
              version: 'v3.1',
            });
            fbService.resolve();
            fbService.ready.then(fbService.getLoginStatus);
            console.log('OK: FB SDK loaded');
          };
          // Load the Facebook JS SDK.
          (function(d, s, id){
             var js, fjs = d.getElementsByTagName(s)[0];
             if (d.getElementById(id)) {return;}
             js = d.createElement(s); js.id = id;
             js.src = "https://connect.facebook.net/en_US/sdk.js";
             fjs.parentNode.insertBefore(js, fjs);
           }(document, 'script', 'facebook-jssdk'));
        })
        .filter('jsonpp', function() {
          return function(obj) {
            return JSON.stringify(obj, null, 2);
          };
        })
        .controller('MainCtrl', function(fbService, $scope, $q, $window) {
          var main = this;

          main.login          = fbService.login;
          main.logout         = fbService.logout;
          main.getLoginStatus = fbService.getLoginStatus;
        })
    </script>

    <!-- Body HTML content. -->
    <div ng-controller="MainCtrl as main">
      <h1>Facebook API Playground</h1>

      <div class="section">
        <b>Facebook Status:</b>
        <pre>{{ fb | jsonpp }};</pre>
      </div>

      <div class="section">
        <button class="btn btn-sm btn-primary" ng-click="main.login()" ng-if="fb.login.status !== 'connected'">
          Login using Facebook
        </button>
        <button class="btn btn-sm btn-primary" ng-click="main.logout()" ng-if="fb.login.status !== 'connected'">
          Logout
        </button>
        <button class="btn btn-sm btn-primary" ng-click="main.getLoginStatus()">
          Check Login Status
        </button>
      </div>
    </div>
  </body>
</html>
