<!doctype html>
<html>
  <head>
    <title>FB</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.2/angular.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://connect.facebook.net/en_US/sdk.js"></script>
    <style>
      body { margin: 2em; }
      div { margin-bottom: 1em; }
      .section { margin-left: 1em; }
    </style>
  </head>
  <body ng-app="fap">
    <script>
      angular
        .module('fap', [])
        .run(function($window) {
          console.log('OK: setting FB initializer');
          $window.fbAsyncInit = function() {
            console.log('OK: calling FB initializer');
            FB.init({
              appId:   '495626720915083',
              cookie:  true,
              xfbml:   true,
              version: 'v3.1',
            });
          };
        })
        .factory('fbService', function($q) {
          const doPromise = function(f) {
            var deferred = $q.defer();
            f(function(response) {
              if (!response || response.error) {
                return deferred.reject(response.error);
              }
              return deferred.resolve(response);
            });
            return deferred.promise;
          };

          return {
            login:          doPromise(r => FB.login(r)),
            logout:         doPromise(r => FB.logout(r)),
            getLoginStatus: doPromise(r => FB.getLoginStatus(r)),
            getUserInfo:    doPromise(r => FB.api('/me', {fields:'name,email'}, r)),
            getUserPicture: (userId) => doPromise(r => FB.api("/${userId}/picture", 'GET', {}, r)),
          }
        })
        .controller('MainCtrl', function($scope, fbService) {
          var main = this;

          main.user = {};

          main.getLoginStatus = fbService.getLoginStatus
            .then(function(res) {
              console.log('OK: getLoginStatus=', res);
            });

          main.login = fbService.login
            .then(function(res) {
              console.log('OK: login=', res);
            });

          main.logout = fbService.logout
            .then(function(res) {
              console.log('OK: logout=', res);
            });

          main.login();
        });
    </script>

    <!-- Body HTML content. -->
    <div ng-controller="MainCtrl as main">
      <h1>Facebook API Playground</h1>

      <div class="section">
        <b>Facebook Status:</b>
        <pre>user = {{ main.user | json }};
login = {{ main.user | json }};</pre>
      </div>

      <div class="section">
        <button class="btn btn-sm btn-primary" ng-click="main.getLoginStatus()">Check Login Status</button>
        <button class="btn btn-sm btn-primary" ng-click="main.login()">Login using Facebook</button>
        <button class="btn btn-sm btn-primary" ng-click="main.logout()">Logout</button>
      </div>
    </div>
  </body>
</html>
